* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #F2EDED;
}

/* SHARED SYLES */
.inter-txtstyle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.raleway-txtstyle {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.btn {
    background-color: #4E47FF;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: hsla(61, 95%, 47%, 0.918);
}

.flex {
    display: flex;
    align-items: center;
}


/* HERO SECTION */
.hero {
    height: 100%;
    background-image: url(./Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    height: 18%;
    justify-content: space-between;
    margin: 0 150px;
}

nav p {
    color: #4E47FF;
    font-size: 32px;
}

nav button {
    font-weight: bold;
    width: 132px;
    font-size: 16px;
}

.hero main {
    height: 82%;
    flex-direction: column;
    justify-content: center;
}

.hero main h1 {
    font-size: 65px;
    color: #252432;
    text-align: center;
}

.hero main button {
    width: 174px;
    margin-top: 37px;
}


/* ACTION SECTION */
.action {
    height: 40%;
    width: 1000px;
    justify-content: space-between;
    margin: 116px auto 100px auto;
}

.actiontxtDiv h1 {
    color: #252432;
    font-size: 42px;
    margin-bottom: 23px;
}

.actiontxtDiv p {
    color: hsla(244, 16%, 17%, 0.50);
    margin-bottom: 23px;
}

.actiontxtDiv button {
    width: 229px;
}

.action img {
    height: 100%;
    border-radius: 48px;
}

/* PRODUCTIVE USERS SECTION  */
.productiveUsers {
    background-color: hsla(242, 100%, 64%, 0.10);
    height: 40%;
    width: 1000px;
    border-radius: 24px;
    margin: auto;
    justify-content: center;
}

.productiveusersDiv {
    width: 856px;
    height: 80%;
    text-align: center;
}

.productiveusersDiv h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #252432;
}

.dataDiv {
    justify-content: space-around;
}

.smallDiv h1 {
    font-size: 75px;
    color: #4E47FF;
}

.smallDiv p {
    font-size: 17px;
    color: hsla(0, 0%, 0%, 0.50);
}

/* USERS FEEDBACK SECTION */
.feedback {
    height: 55%;
    width: 1000px;
    margin: 130px auto;
}

.feedback span {
    display: block;
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
    color: #252432;
}

.cardContainer {
    width: 100%;
    gap: 20px;
}

.card {
    border-radius: 14px;
    width: 356px;
    height: 220px;
    font-family: 'Times New Roman';
    background-color: hsla(0, 0%, 100%, 0.50);
}

.card img {
    width: 20px;
    margin-top: 24px;
}

.card img:first-child {
    margin-left: 24px;
}

.reviewerDiv img {
    width: 40px;
    border-radius: 50%;
    margin: 0 8px 0 24px;
}

.card h1 {
    margin: 20px 0 8px 24px;
}

.card p {
    margin-bottom: 24px;
    margin-left: 24px;
}

.reviewerTxt h4 {
    color: hsla(244, 16%, 17%, 0.80);
}

.reviewerTxt h5 {
    color: hsla(244, 16%, 17%, 0.60);
    font-family: Arial;
}

.form {
    width: 65%;
    height: 80%;
    height: 580px;
    margin: 90px auto 90px auto;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
}

.touchDiv {
    width: 40%;
    height: 100%;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.touchDiv h1 {
    font-size: 60px;
    color: #000000;
}

/* FORM SECTION  */
form {
    width: 45%;
    height: 80%;
}

input,
textarea {
    width: 90%;
    padding: 5%;
    border: none;
    border: 1px solid #D6DDED;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}
input::placeholder , textarea::placeholder{
    color: hsla(0, 0%, 0%, 0.50);
    font-weight: normal;
}

legend {
    font-size: 20px;
    margin-bottom: 15px;
}

fieldset {
    border: none;
    margin-bottom: 25px;
}

form .btn {
    width: 100%;
    height: 62px;
    font-size: 20px;
}


/* FOOTER SECTION  */
.footer {
    width: 100%;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    border-top: 2px solid hsla(0, 0%, 0%, 0.10);
}

.footer h1 {
    color: #4E47FF;
    font-size: 100px;
    margin-bottom: 10px;
}

.footer p {
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #8987A1;
}

.linkDiv {
    width: 50%;
    margin-top: 25px;
    justify-content: space-evenly;
    font-family: Arial;
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #8987A1;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}